h1 {
  text-align: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 15%;
  padding: 2%;
  background-color: pink;
}

#exit-document {
  display: none;
}

#secret-document {
  font-family: monospace;
  font-size: 1.25rem;
  width: 50vw;
  /* to center */
  margin: auto;
  display: none;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}
