#enter-document {

}

#exit-document {
  display: none;
}


#secret-document {
  font-family: monospace;
  font-size: 1.25rem;
  width: 50vw;
  /* to center */
  margin: auto;
  display: none;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}
